<div class='block'>
  <% block.fields_info.each do |field_name, field_content| %>
    <div class="<%=field_name %>">
      <h2><%=field_name %></h2>
      <p><%= field_content %></p>
    </div>
  <% end %>
</div>
