<!DOCTYPE html>
<html>
<head>
  <title>NocmsBlocks</title>
  <%= stylesheet_link_tag    "nocms-blocks/application", media: "all" %>
  <%= javascript_include_tag "nocms-blocks/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
